@model WebAppSearchGitHub.Models.GitHubRepositoriesModel

@{
    ViewBag.Title = "Bookmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="bookmarksContainer">
    <br />
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">My Bookmarks</h1>
    @Html.Partial("~/Views/Shared/PartialViews/_Bookmarks.cshtml", Model)
</div>


