
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error">
    <br>
    <br>
    <h1>Error 404 - Page not found</h1>
    <br>
    <h4>Sorry but the page you are looking for cannot be found</h4>
    <br>
    <h4>You have probably typed the address incorrectly, or the page you were looking for may have been moved or deleted.</h4>
    <br>
    <br>
    <br>
</div>


